{% load static %}
<nav class="navbar navbar-expand-lg" style="font-size:18px;">
  <div class="container-fluid px-3">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/Orison.jpeg' %}" alt="Orison Logo" class="navbar-logo"
        style="width:150px; height:auto; border-radius:50%;">
    </a>

    <div class="d-flex d-lg-none align-items-center gap-3 ms-auto">
      {% if not user.is_authenticated %}
      <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="text" name="query" placeholder="Search..." required style="width:150px;">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
      {% else %}
      <a href="{% url 'cart_summary' slug=school.slug %}" class="position-relative">
        <i class="bi bi-cart-fill text-white" style="font-size: 25px;"></i>
        <span class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle" id="cart_quantity"
          style="font-size: 10px;">{{ cart_count }}</span>
      </a>
      <a href="{% url 'logout' %}" class="btn btn-outline-light">Log-Out <i class="bi bi-box-arrow-right"></i></a>
      {% endif %}
      <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="offcanvas offcanvas-start bg-dark text-white d-lg-none" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav mx-auto gap-2">
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'about' %}">About Us</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a></li>
          {% if user.is_authenticated and school %}
          <li class="nav-item"><a class="nav-link text-white"
              href="{% url 'school_detail' slug=school.slug %}">Products</a></li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Schools</a>
            <ul class="dropdown-menu text-white" style="background-color:#2F3720; margin-top:25px; border: 1px solid white;padding: 10px;">
              {% for school in schools %}
              <li>
                <a class="dropdown-item text-white school-item" href="{% url 'register' slug=school.slug %}">
                  {{ school.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
      <ul class="navbar-nav mx-auto d-flex flex-row gap-4">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
        {% if user.is_authenticated and school %}
        <li class="nav-item"><a class="nav-link" href="{% url 'school_detail' slug=school.slug %}">Products</a></li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Schools</a>
          <ul class="dropdown-menu text-white p-3" style="background-color:#2F3720; margin-top:25px; border: 1px solid white;">
            {% for school in schools %}
            <li>
              <a class="dropdown-item text-white school-item" href="{% url 'register' slug=school.slug %}">
                {{ school.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
      </ul>
      <div class="d-flex align-items-center gap-4 ms-auto">
        {% if not user.is_authenticated %}
        <form class="d-flex" role="search" method="get">
          <input class="form-control me-2" type="text" name="query" placeholder="Search..." required
            style="width:250px;">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        {% else %}
        <a href="{% url 'cart_summary' slug=school.slug %}" class="position-relative">
          <i class="bi bi-cart-fill text-white" style="font-size: 25px;"></i>
          <span class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle"
            id="cart_quantity" style="font-size: 10px;">{{ cart_count }}</span>
        </a>
        <a href="{% url 'logout' %}" class="btn btn-light">Log-Out <i class="bi bi-box-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>